.box-1,.box-3{
    background-color: purple;
    color:white;
    padding:1rem;
    width:520px;
    height:300px;
}

.box-2,.box-4{
    background-color: gold;
    color:black;
    padding:1rem;
    width:520px;
    height:300px;
}

.heading{
     text-align: center;
}

@media screen and (min-width:550px) {
    .container{
        display: flex;
    }
}

