.main_heading {
    text-align: center;
}


div[id="box-1"],
div[id="box-2"],
div[id="box-3"],
div[id="box-4"],
div[id="box-5"],
select,
textarea {
    width: 200px;
    height: 250px;
    padding:20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin:2px;
    float:left;
}

div[id="box-1"],
div[id="box-3"],
div[id="box-5"],
select,
textarea {
    background-color:bisque;
}

div[id="box-2"],
div[id="box-4"],
select,
textarea {
    background-color:rgb(146, 236, 236);
}

.container {
    flex-direction: row;
}

@media (max-width: 600px){
    .container{
        flex-direction:column;
    }
}